@page
@model AdminLTE.Pages.Gallery.File.FileModel
@{
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4">
                <form class="search-file">
                    <div class="input-group input-group-sm">
                        <input id="searchById" name="Id" class="form-control form-control-navbar" type="search" placeholder="Search by Id" aria-label="Search" data-listener-added_94091133="true">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <div>
                        <div class="btn-group w-100 mb-2">
                            <a class="btn btn-info active" href="javascript:void(0)" data-filter="all"> 
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>
                                All Files 
                            </a>
                            <a class="btn btn-info" href="javascript:void(0)" data-filter="1">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>
                                Images 
                            </a>
                            <a class="btn btn-info" href="javascript:void(0)" data-filter="2">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>
                                Videos
                            </a>
                            <a class="btn btn-info" href="javascript:void(0)" data-filter="3">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>
                                Audios 
                            </a>
                            <a class="btn btn-info" href="javascript:void(0)" data-filter="4">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>
                                Other Files
                            </a>
                        </div>
                        <div class="mb-2">
                            <a class="btn btn-secondary" href="javascript:void(0)" data-shuffle=""> Shuffle items </a>
                            <div class="float-right">
                                <select class="custom-select" style="width: auto;" data-sortorder="">
                                    <option value="index"> Sort by Position </option>
                                    <option value="sortData"> Sort by Custom Data </option>
                                </select>
                                <div class="btn-group">
                                    <a class="btn btn-default" href="javascript:void(0)" data-sortasc=""> Ascending </a>
                                    <a class="btn btn-default" href="javascript:void(0)" data-sortdesc=""> Descending </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="filter-container p-0 row" style="padding: 3px; position: relative; width: 100%; display: flex; flex-wrap: wrap; height: 143px;">
                            <!-- Images -->
                            <div class="filtr-item col-sm-2 filteredOut" data-category="1" data-sort="Image File" style="text-align: center;height:125px; opacity: 0; transform: scale(0.5) translate3d(764px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; z-index: -1000; width: 466px; transition: 0.5s ease-out, width 1ms;">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>

                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#imageModal"
                                            data-uploadedon="UploadedOn"
                                            data-uploadedby="UploadedBy"
                                            data-name="Name"
                                            data-filetype="FileType"
                                            data-size="Size"
                                            data-imagewidth="ImageWidth"
                                            data-imageheight="ImageHeight"
                                            data-alternativetext="AlternativeText"
                                            data-filetitle="FileTilte"
                                            data-caption="Caption"
                                            data-description="Description"
                                            data-path="/TestFile/ROG3.jpg"                                   
                                            >
                                        <img src="/TestFile/ROG3.jpg" class="img-fluid mb-2" alt="white sample">
                                        </a>
                                        <p style="text-align: center;margin-top: -10px;">
                                            <strong>FileName</strong>
                                        </p>
                                    </div>
                            <div class="filtr-item col-sm-2 filteredOut" data-category="1" data-sort="Image File" style="text-align: center;height:125px;opacity: 0; transform: scale(0.5) translate3d(764px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; z-index: -1000; width: 466px; transition: 0.5s ease-out, width 1ms;">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>

                                <a href="javascript:void(0)" data-toggle="modal" data-target="#imageModal"
                                           data-uploadedon="UploadedOn"
                                           data-uploadedby="UploadedBy"
                                           data-name="Name"
                                           data-filetype="FileType"
                                           data-size="Size"
                                           data-imagewidth="ImageWidth"
                                           data-imageheight="ImageHeight"
                                           data-alternativetext="AlternativeText"
                                           data-filetitle="FileTilte"
                                           data-caption="Caption"
                                           data-description="Description"
                                           data-path="/TestFile/ROG3.jpg">
                                           <img src="/TestFile/ROG3.jpg" class="img-fluid mb-2" alt="white sample">
                                        </a>
                                <p style="text-align: center;margin-top: -10px;">
                                    <strong>FileName</strong>
                                        </p>

                                    </div>

                            <!-- Videos -->
                            <div class="filtr-item col-sm-2 filteredOut" data-category="2" data-sort="Image File" style="text-align: center;height:125px;opacity: 0; transform: scale(0.5) translate3d(764px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; z-index: -1000; width: 466px; transition: 0.5s ease-out, width 1ms;">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>

                                <a href="javascript:void(0)" data-toggle="modal" data-target="#videoModal"
                                   data-uploadedon="UploadedOn"
                                   data-uploadedby="UploadedBy"
                                   data-name="Name"
                                   data-filetype="FileType"
                                   data-size="Size"
                                   data-length="Length"

                                   data-filetitle="FileTilte"
                                   data-caption="Caption"
                                   data-description="Description"
                                   data-path="/TestFile/ROG3.jpg">
                                    <video class="img-fluid mb-2" controls>
                                        <source src="/TestFile/Media1.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </a>
                                <p style="text-align: center;margin-top: -10px;">
                                    <strong>FileName</strong>
                                </p>
                            </div>


                            <!-- Audios -->
                            <div class="filtr-item col-sm-2 filteredOut" data-category="3" data-sort="Image File" style="text-align: center;height:125px;opacity: 0; transform: scale(0.5) translate3d(764px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; z-index: -1000; width: 466px; transition: 0.5s ease-out, width 1ms;">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>

                                <a href="javascript:void(0)" data-toggle="modal" data-target="#audioModal"
                                   data-uploadedon="UploadedOn"
                                   data-uploadedby="UploadedBy"
                                   data-name="Name"
                                   data-filetype="FileType"
                                   data-size="Size"
                                   data-length="Length"
                                   data-filetitle="FileTilte"
                                   data-caption="Caption"
                                   data-description="Description"
                                   data-path="/TestFile/audio.jpg">
                                    <img src="/TestFile/audio.jpg" class="img-fluid mb-2" alt="Audio" style="max-width: 35%;">

                                </a>
                                <p style="text-align: center;margin-top: -10px;">
                                    <strong>FileName</strong>
                                </p>
                            </div>

                            <div class="filtr-item col-sm-2 filteredOut" data-category="3" data-sort="Image File" style="text-align: center;height:125px;opacity: 0; transform: scale(0.5) translate3d(764px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; z-index: -1000; width: 466px; transition: 0.5s ease-out, width 1ms;">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>

                                <a href="javascript:void(0)" data-toggle="modal" data-target="#audioModal"
                                   data-uploadedon="UploadedOn"
                                   data-uploadedby="UploadedBy"
                                   data-name="Name"
                                   data-filetype="FileType"
                                   data-size="Size"
                                   data-length="Length"
                                   data-filetitle="FileTilte"
                                   data-caption="Caption"
                                   data-description="Description"
                                   data-path="/TestFile/audio.jpg">
                                    <img src="/TestFile/audio.jpg" class="img-fluid mb-2" alt="Audio" style="max-width: 35%;">
                                </a>
                                <p style="text-align: center;">
                                    <strong>FileName</strong>
                                </p>
                            </div>


                            <!-- Other Files -->

                            <div class="filtr-item col-sm-2 filteredOut" data-category="4" data-sort="Image File" style="text-align: center;height:125px;opacity: 0; transform: scale(0.5) translate3d(764px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; z-index: -1000; width: 466px; transition: 0.5s ease-out, width 1ms;">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>

                                <a href="javascript:void(0)" data-toggle="modal" data-target="#otherModal"
                                   data-uploadedon="UploadedOn"
                                   data-uploadedby="UploadedBy"
                                   data-name="Name"
                                   data-filetype="FileType"
                                   data-size="Size"
                                   data-filetitle="FileTilte"
                                   data-caption="Caption"
                                   data-description="Description"
                                   data-path="/TestFile/pdf.jpg">
                                    <img src="/TestFile/pdf.jpg" class="img-fluid mb-2" alt="Pdf" style="max-width: 35%;">
                                </a>
                                <p style="text-align: center;margin-top: -10px;">
                                    <strong>FileName</strong>
                                </p>
                            </div>

                            <div class="filtr-item col-sm-2 filteredOut" data-category="4" data-sort="Image File" style="text-align: center;height:125px;opacity: 0; transform: scale(0.5) translate3d(764px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; z-index: -1000; width: 466px; transition: 0.5s ease-out, width 1ms;">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>

                                <a href="javascript:void(0)" data-toggle="modal" data-target="#otherModal"
                                   data-uploadedon="UploadedOn"
                                   data-uploadedby="UploadedBy"
                                   data-name="Name"
                                   data-filetype="FileType"
                                   data-size="Size"
                                   data-filetitle="FileTilte"
                                   data-caption="Caption"
                                   data-description="Description"
                                   data-path="/TestFile/excel.jpg">
                                    <img src="/TestFile/excel.jpg" class="img-fluid mb-2" alt="Pdf" style="max-width: 35%;">
                                </a>
                                <p style="text-align: center;margin-top: -10px;">
                                    <strong>FileName</strong>
                                </p>
                            </div>

                            <div class="filtr-item col-sm-2 filteredOut" data-category="4" data-sort="Image File" style="text-align: center;height:125px;opacity: 0; transform: scale(0.5) translate3d(764px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; z-index: -1000; width: 466px; transition: 0.5s ease-out, width 1ms;">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>

                                <a href="javascript:void(0)" data-toggle="modal" data-target="#otherModal"
                                   data-uploadedon="UploadedOn"
                                   data-uploadedby="UploadedBy"
                                   data-name="Name"
                                   data-filetype="FileType"
                                   data-size="Size"
                                   data-filetitle="FileTilte"
                                   data-caption="Caption"
                                   data-description="Description"
                                   data-path="/TestFile/word.jpg">
                                    <img src="/TestFile/word.jpg" class="img-fluid mb-2" alt="Word" style="max-width: 35%;">
                                </a>
                                <p style="text-align: center; margin-top:-10px">
                                    <strong>FileName</strong>
                                </p>
                                
                            </div>
                            <div class="filtr-item col-sm-2 filteredOut" data-category="4" data-sort="Image File" style="text-align: center;height:125px;opacity: 0; transform: scale(0.5) translate3d(764px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; z-index: -1000; width: 466px; transition: 0.5s ease-out, width 1ms;">
                                <div class="form-check" style="display: flex;padding-left: 1.75rem;">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"></label>
                                </div>

                                <a href="javascript:void(0)" data-toggle="modal" data-target="#otherModal"
                                   data-uploadedon="UploadedOn"
                                   data-uploadedby="UploadedBy"
                                   data-name="Name"
                                   data-filetype="FileType"
                                   data-size="Size"
                                   data-filetitle="FileTilte"
                                   data-caption="Caption"
                                   data-description="Description"
                                   data-path="/TestFile/file.jpg">
                                    <img src="/TestFile/file.jpg" class="img-fluid mb-2" alt="File" style="max-width: 35%;">
                                </a>
                                <p style="text-align: center;margin-top: -10px;">
                                    <strong>FileName</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal for Images -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="imageForm">
                    <div class="row">
                        <div class="col-md-4">
                            <p style="margin-bottom: 0rem"><strong>Uploaded On:</strong> <span id="imageUploadedOn"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Uploaded By:</strong> <span id="imageUploadedBy"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Name:</strong> <span id="imageName"></span></p>
                            <p style="margin-bottom: 0rem"><strong>File Type:</strong> <span id="imageFileType"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Size:</strong> <span id="imageSize"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Image Width:</strong> <span id="imageWidth"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Image Height:</strong> <span id="imageHeight"></span></p>
                        </div>
                        <div class="col-md-8">
                            <img id="imagePreview" src="/TestFile/ROG3.jpg" class="img-fluid" alt="Image Preview">
                            <div class="form-group">
                                <label for="imageAlternativeText">Alternative Text:</label>
                                <input type="text" class="form-control" id="imageAlternativeText">
                            </div>
                            <div class="form-group">
                                <label for="imageTitle">Title:</label>
                                <input type="text" class="form-control" id="imageTitle">
                            </div>
                            <div class="form-group">
                                <label for="imageCaption">Caption:</label>
                                <input type="text" class="form-control" id="imageCaption">
                            </div>
                            <div class="form-group">
                                <label for="imageDescription">Description:</label>
                                <textarea class="form-control" id="imageDescription"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="imageUrl">FileURL:</label>
                                <div class="input-group">
                                    <input class="form-control" id="imageFileUrl" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="imageCopyButton">Copy to Clipboard</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateAudio()">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Videos -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="videoModalLabel">Video Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="videoForm">
                    <div class="row">
                        <div class="col-md-4">
                            <p style="margin-bottom: 0rem"><strong>Uploaded On:</strong> <span id="videoUploadedOn"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Uploaded By:</strong> <span id="videoUploadedBy"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Name:</strong> <span id="videoName"></span></p>
                            <p style="margin-bottom: 0rem"><strong>File Type:</strong> <span id="videoFileType"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Size:</strong> <span id="videoSize"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Length:</strong> <span id="videoLength"></span></p>
                        </div>
                        <div class="col-md-8">
                            <video id="videoPreview" src="/TestFile/Media1.mp4" controls class="img-fluid"></video>
                            <div class="form-group">
                                <label for="videoTitle">Title:</label>
                                <input type="text" class="form-control" id="videoTitle">
                            </div>
                            <div class="form-group">
                                <label for="videoCaption">Caption:</label>
                                <input type="text" class="form-control" id="videoCaption">
                            </div>
                            <div class="form-group">
                                <label for="videoDescription">Description:</label>
                                <textarea class="form-control" id="videoDescription"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="vedioUrl">FileURL:</label>
                                <div class="input-group">
                                    <input class="form-control" id="videoFileUrl" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="videoCopyButton">Copy to Clipboard</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateVideo()">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Audios -->
<div class="modal fade" id="audioModal" tabindex="-1" role="dialog" aria-labelledby="audioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="audioModalLabel">Audio Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="audioForm">
                    <div class="row">
                        <div class="col-md-4">
                            <p style="margin-bottom: 0rem"><strong>Uploaded On:</strong> <span id="audioUploadedOn"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Uploaded By:</strong> <span id="audioUploadedBy"></span></p>
                            <p style ="margin-bottom: 0rem"><strong>Name:</strong> <span id="audioName"></span></p>
                            <p style="margin-bottom: 0rem"><strong>File Type:</strong> <span id="audioFileType"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Size:</strong> <span id="audioSize"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Length:</strong> <span id="audioLength"></span></p>
                        </div>
                        <div class="col-md-8">
                            <audio id="audioPreview" src="/TestFile/Nhar.mp3" controls></audio>
                            <div class="form-group">
                                <label for="audioTitle">Title:</label>
                                <input type="text" class="form-control" id="audioTitle">
                            </div>
                            <div class="form-group">
                                <label for="audioCaption">Caption:</label>
                                <input type="text" class="form-control" id="audioCaption">
                            </div>
                            <div class="form-group">
                                <label for="audioDescription">Description:</label>
                                <textarea class="form-control" id="audioDescription"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="audioUrl">FileURL:</label>
                                <div class="input-group">
                                    <input class="form-control" id="audioFileUrl" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="audioCopyButton">Copy to Clipboard</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateAudio()">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Other Files -->
<div class="modal fade" id="otherModal" tabindex="-1" role="dialog" aria-labelledby="otherModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="otherModalLabel">Other File Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="otherForm">
                    <div class="row">
                        <div class="col-md-4">
                            <p style="margin-bottom: 0rem"><strong>Uploaded On:</strong> <span id="otherUploadedOn"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Uploaded By:</strong> <span id="otherUploadedBy"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Name:</strong> <span id="otherName"></span></p>
                            <p style="margin-bottom: 0rem"><strong>File Type:</strong> <span id="otherFileType"></span></p>
                            <p style="margin-bottom: 0rem"><strong>Size:</strong> <span id="otherSize"></span></p>
                        </div>
                        <div class="col-md-8">
                            <div id="filePreviewContainer">
                                <iframe id="filePreviewIframe" src="/TestFile/RL.pdf" width="100%" height="400px"></iframe>

                            </div>
                            <div class="form-group">
                                <label for="otherTitle">Title:</label>
                                <input type="text" class="form-control" id="otherTitle">
                            </div>
                            <div class="form-group">
                                <label for="otherCaption">Caption:</label>
                                <input type="text" class="form-control" id="otherCaption">
                            </div>
                            <div class="form-group">
                                <label for="otherDescription">Description:</label>
                                <textarea class="form-control" id="otherDescription"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="otherFileUrl">FileURL:</label>
                                <div class="input-group">
                                    <input class="form-control" id="otherFileUrl" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="otherCopyButton">Copy to Clipboard</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateOther()">Update</button>
            </div>
        </div>
    </div>
</div>
<!--Lubna-->

<div class="card-footer clearfix">
    <a href="/Gallery/Index" style="margin: 10px;" class="btn btn-danger float-right">Delete Selected Files</a>
    <a href="/Gallery/Index" style="margin: 10px;" class="btn btn-success float-right">Create File</a>
    <a href="/Gallery/Index" style="margin: 10px;" class="btn btn-primary float-right"><i class="fas fa-arrow-left"></i> Back to Galleries</a>
</div>

