.vs/
# Ignore all bin and obj folders recursively
**/bin/
**/obj/
**/images/**

.vs/
# Ignore all bin and obj folders recursively
**/bin/**
**/obj/**
**/images/**

*.suo
*.user
_ReSharper.*
bin
obj
publish
packages