@page "/Gallery/Index"
@model AdminLTE.Pages.Gallery.GalleryModel
@{
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">         
            <div class="col-sm-4">


                <form class="form-group" method="get" id="userForm">
                    <label>Select User</label>
                    <select class="custom-select" asp-for="SelectedUser" onchange="document.getElementById('userForm').submit()">
                        <option>AllUsers</option>
                        @foreach (var user in Model.Users)
                        {
                            <option>@user.FirstName @user.LastName</option>
                        }
                    </select>
                </form>

            </div><!-- /.col -->
            <div class="col-sm-4">
                <form class="search-file">
                    <div class="input-group input-group-sm">
                        <input id="searchByUpdatedBy" name="updatedBy" class="form-control form-control-navbar" type="search" placeholder="Updated by a user" aria-label="Search By User Update" data-listener-added_94091133="true">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.col -->
            <div class="col-sm-4">
                <form class="search-file">
                    <div class="input-group input-group-sm">
                        <input id="searchByName" name="id" class="form-control form-control-navbar" type="search" placeholder="Search by Name" aria-label="Search by name" data-listener-added_94091133="true">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row mb-2">
            <div class="col-sm-6">
                <form class="search-file">
                    <div class="input-group input-group-sm">

                        <div class="input-group-prepend" style="margin-left: 5px; margin-top: 3px;">
                            <span>Created At</span>
                        </div>

                        <div class="input-group-prepend" style="margin-left: 5px;">
                            <span class="input-group-text">Start Date</span>
                        </div>
                        <input id="searchByCreatedAtStart" name="createdAtStart" class="form-control form-control-navbar" type="date" aria-label="Created At Start">
                        <div class="input-group-prepend" style="margin-left: 5px;">
                            <span class="input-group-text">End Date</span>
                        </div>
                        <input id="searchByCreatedAtEnd" name="createdAtEnd" class="form-control form-control-navbar" type="date" aria-label="Created At End">
                        <div class="input-group-append" style="margin-left: 5px;">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <form class="search-file">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend" style="margin-left: 5px; margin-top: 3px;">
                            <span>Updated At</span>
                        </div>
                        <div class="input-group-prepend" style="margin-left: 5px;">
                            <span class="input-group-text">Start Date</span>
                        </div>
                        <input id="searchByUpdatedAtStart" name="updatedAtStart" class="form-control form-control-navbar" type="date" aria-label="Updated At Start">
                        <div class="input-group-prepend" style="margin-left: 5px;">
                            <span class="input-group-text">End Date</span>
                        </div>
                        <input id="searchByUpdatedAtEnd" name="updatedAtEnd" class="form-control form-control-navbar" type="date" aria-label="Updated At End">
                        <div class="input-group-append" style="margin-left: 5px;">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<!--File-->
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <!--Lubna-->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h4>Name</h4>
                        <p>Description</p>
                    </div>
                    <div class="icon">
                        <i class="ion-android-folder-open" style="font-size: 70px;margin-top: -15px;"></i>
                    </div>
                    <a href="/Gallery/File/Index?galleryId=Id" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!--Lubna-->
            @if (Model.Galleries != null && Model.Galleries.Any())
            {
                @foreach (var gallery in Model.Galleries)
                {
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h4>@gallery.Name</h4>
                                <p>@gallery.Description</p>
                            </div>
                            <div class="icon">
                                <i class="ion-android-folder-open" style="font-size: 70px;margin-top: -15px;"></i>
                            </div>
                            <a href="/Gallery/File/Index?galleryId=@gallery.Id" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                }
            }
            else
            {
                <p>No gallery available.</p>
            }
        </div>
    </div>
</section>

<footer class="footer">
    <a asp-page="/Gallery/CreateGallery" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Add Gallery</a>
</footer>