@page
@using Offer.Host.Pages.Home
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="welcome-container">
    <h1>Welcome!</h1>
    <p>Thank you for visiting our website. We're glad to have you here.</p>
</div>


